@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

:root {
    --primary-color: #7159c1;
    --secondary-color: #F7DF1E;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}